.navbar{
   border-bottom: beige solid 1px ;
}
.nav-link:hover{
    text-decoration: line-through;
    color: white;
}
.nav-link{
    
    color: beige;
    font-family: 'Source Code Pro', monospace;
}
.navbar-brand{
    color: beige;
    font-size: 15px;
    font-family:'Source Code Pro', monospace ;
}
.navbar-brand:hover{
    color: white;
}
body{
    background-color: rgb(15, 15, 15);
}

.picture{
    background-image:url(/assets/img/fondo.png);
}
a{
    text-decoration: none;
   color: white;
   
}
a:hover{
    color: blue;
}
.graphic{
    margin-top: 155px;
    font-size: 1.875rem;
    color: beige;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 10px;
}
.graphic:hover{
    color: white;
}
.designer{
    margin-top: 25px;
    font-size: calc(1.5rem + 6vw);
    color: beige;
    letter-spacing: 2px;
    font-family: 'Space Mono', monospace;

}
.designer:hover{
    color: white;
    text-decoration: line-through;
}
.desc{
    margin-top: 10px;
    font-size: 2.2rem;
    color: beige;
    font-family: 'Source Code Pro', monospace;
    text-transform: lowercase;
}
.contactme{
   margin-top: 30px;
   font-family:'Press Start 2P', cursive;
   font-size: 20px;
   letter-spacing: 10px;
   text-decoration: underline;
}
.gif{
    margin-top: 80px;
}
.aboutme{
    margin-top: 70px;
    font-size: 50px;
    letter-spacing: 10px;
    font-family: 'Press Start 2P', cursive;
    color: beige;

}
.gif2{
    margin-top: 60px;
    margin-left: 20px;
    height: 80%;
    width: auto;
   
}
.aboutdesc{
    font-size: 30px;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;

}
.works{
    font-size: 50px;
    color: beige;
    text-align: center;
    letter-spacing: 10px;
    font-family: 'Press Start 2P', cursive;
    margin-top: 100px;
    margin-bottom: 50px;
}

h5{
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
    color: beige;

}
p{
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}
.card-img{
opacity: 50%;
}
.card:hover{
    opacity: 50%;
}
.worksection{
    margin-top: 50px;
    margin-bottom: 100px;

}
footer{
    background-color: beige;
    padding: 15px;
  
}
.footer{
    font-family: 'Space Mono', monospace;
    text-align: center;
    font-size: 15px;
    color: black;
    letter-spacing: 5px;
    padding-top: 10px;

}
#contacto{
    color: blue;
}
#contacto:hover{
    color: black;
    text-decoration: line-through;
}